#AUTHOR : SHANTHINI M K

#Load the Libraries and datasets

In [36]:
# modules we'll use
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

# read in our data
earthquake = pd.read_csv("/content/database.csv")

# set seed for reproducibility
np.random.seed(0)

In [29]:
earthquake.head()

                  Date      Time  ...  Magnitude Source     Status
0  1965-01-02 00:00:00  13:44:18  ...            ISCGEM  Automatic
1  1965-01-04 00:00:00  11:29:49  ...            ISCGEM  Automatic
2  1965-01-05 00:00:00  18:05:58  ...            ISCGEM  Automatic
3  1965-01-08 00:00:00  18:49:43  ...            ISCGEM  Automatic
4  1965-01-09 00:00:00  13:32:50  ...            ISCGEM  Automatic

[5 rows x 21 columns]

In [30]:
# print the first few rows of the date column
print(earthquake['Date'].head())

0    1965-01-02 00:00:00
1    1965-01-04 00:00:00
2    1965-01-05 00:00:00
3    1965-01-08 00:00:00
4    1965-01-09 00:00:00
Name: Date, dtype: object

In [31]:
# check the data type of our date column
earthquake['Date'].dtype

dtype('O')

In [32]:
earthquake[3378:3383]

                           Date  ...    Status
3378  1975-02-23 02:58:41+00:00  ...  Reviewed
3379        1975-02-23 00:00:00  ...  Reviewed
3380        1975-02-23 00:00:00  ...  Reviewed
3381        1975-02-25 00:00:00  ...  Reviewed
3382        1975-02-26 00:00:00  ...  Reviewed

[5 rows x 21 columns]

In [38]:
date_lengths = earthquake.Date.str.len()
date_lengths.value_counts()

10    23409
24        3
Name: Date, dtype: int64

In [39]:
indices = np.where([date_lengths == 24])[1]
print('Indices with corrupted data:', indices)
earthquake.loc[indices]

Indices with corrupted data: [ 3378  7512 20650]

                           Date  ...    Status
3378   1975-02-23T02:58:41.000Z  ...  Reviewed
7512   1985-04-28T02:53:41.530Z  ...  Reviewed
20650  2011-03-13T02:23:34.520Z  ...  Reviewed

[3 rows x 21 columns]

In [50]:
# create a new column, date_parsed, with the parsed dates

earthquake['date_parsed'] = pd.to_datetime(earthquake['Date'],format = "%m/%d/%y",infer_datetime_format=True)

earthquake['date_parsed'].head()

0    1965-01-02 00:00:00
1    1965-01-04 00:00:00
2    1965-01-05 00:00:00
3    1965-01-08 00:00:00
4    1965-01-09 00:00:00
Name: date_parsed, dtype: object